/* Import Tailwind v4 */
@import "tailwindcss";

/* Khai báo bộ màu Figma của bạn ở đây */
@theme {
  --color-primary: #2563eb;    /* Xanh đậm */
  --color-secondary: #64748b;  /* Xám */
  --color-success: #22c55e;    /* Xanh lá */
  --color-danger: #ef4444;     /* Đỏ */
  --color-warning: #f97316;    /* Cam */
  --color-background: #f9fafb; /* Nền web */
  
  --font-sans: Inter, system-ui, sans-serif;
}

/* Style nền mặc định */
body {
  background-color: var(--color-background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh cuộn cho IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}